@font-face {
  font-family: aviny;
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/aviny-700.woff') format('woff'),
    url('./assets/fonts/aviny-700.woff2') format('woff2');
}

@font-face {
  font-family: dastevis;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/dastnevis-400.woff') format('woff'),
    url('./assets/fonts/dastnevis-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Yekan';
  src: url('./assets/fonts/Yekan.eot');
  src: url('./assets/fonts/Yekan.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Yekan.woff2') format('woff2'),
    url('./assets/fonts/Yekan.woff') format('woff'),
    url('./assets/fonts/Yekan.ttf') format('truetype'),
    url('./assets/fonts/Yekan.svg#Yekan') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sahel';
  src: url('./assets/fonts/Sahel.eot');
  src: url('./assets/fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Sahel.woff') format('woff'),
    url('./assets/fonts/Sahel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: fantezy;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/sfcartoonisthandsc.ttf') format('truetype');
}

body {
  font-family: Yekan !important;
}

select {
  padding: 0;
}

.aviny {
  font-family: aviny !important;
}

.dastevis {
  font-family: dastevis !important;
}

.sahel {
  font-family: sahel !important;
}

.bg-purple-600 .dropdown-group .submenu {
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.bg-purple-600 .dropdown-group .submenu.active {
  visibility: visible;
  height: auto;
  max-height: 400px;
  opacity: 1;
  transition: max-height 0.7s, opacity 3s, visibility 4s ease;
}

@keyframes dropdown {
  0% {
    height: 0;
  }

  100% {
    height: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.sidbar-wrapp {
  width: 5vw;
}

@media only screen and (max-width: 640px) {
  .sidbar-wrapp {
    width: 0;
    display: none;
  }

  .main .main-cotainer.without-sidebar {
    width: 100%;
  }
}


.main .main-cotainer.without-sidebar {
  width: 95vw;
  /* animation: closeSidebar .3s ease-out .05s; */
}

@keyframes closeSidebar {
  0% {
    width: 80%;
  }

  100% {
    width: 95vw;
  }
}

.myShadow {
  box-shadow: -1px 3px 8px #56b4c0;
}

/* tags input style */
.ReactTags__tags {
  display: flex;
  gap: 8px;
  width: 100%;
}

.ReactTags__tags .ReactTags__selected {
  display: flex;
  gap: 4px;
  /* width: 100%; */
  order: 2;
}

.ReactTags__tags .ReactTags__tagInput .ReactTags__tagInputField {
  padding: .3rem .75rem;
  outline: none;
  border-radius: .5rem;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

html.dark .ReactTags__tags .ReactTags__tagInput .ReactTags__tagInputField {
  background-color: rgb(107 33 168);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ReactTags__tags .ReactTags__tagInput .ReactTags__tagInputField:focus {
  outline: none;
  border-radius: .5rem;
  border: 1px solid;
  border-color: rgb(8 145 178);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ReactTags__selected .tag-wrapper {
  background-color: rgb(188, 186, 189);
  border: 1px solid rgb(106, 105, 107);
  padding: 0 .75rem;
  border-radius: 5px;
}

html.dark .ReactTags__selected .tag-wrapper {
  background-color: rgb(163, 45, 209);
  border: 1px solid rgb(68, 17, 88);
}

.ReactTags__selected .tag-wrapper .ReactTags__remove {
  margin-right: 4px;
  font-size: 24px;
}

.textEditor .ck-rounded-corners{
  border-color: #56b4c0;
  border-radius: 0 0 10px 10px;
  background-color: rgb(225, 221, 228);
  min-height: 200px;
}
html.dark .textEditor .ck-rounded-corners{
  border-color: rgb(163, 45, 209);
  background-color: rgb(107 33 168);
}

.datepicker .nYegl div .dp__input{
  outline: none;
  padding: .25rem .75rem;
  border-radius: .5rem;
  border: 1px solid;
  border-color: rgb(8 145 178);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

html.dark .datepicker .nYegl div .dp__input{
  background-color: rgb(107 33 168);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}